body {
    background-color: #1C1C1C;
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#calc-window {
    height: 120px;
    background-color: hsl(0, 0%, 10%);
    font-size: 85px;
    color: white;
    text-align: right;
    position: relative;
}

#calc-window span {
    position: absolute;
    right: 25px;
    bottom: 0px;
}

.top-row {
    background-color:#bebfc1;
    color: white;
}

#ac:hover {
    cursor: pointer;
    background-color: hsla(240, 3%, 80%, .8);
}

.number {
    background-color: hsl(240, 3%, 80%);
    color: white;
}

.number:hover {
    background-color: hsla(240, 3%, 80%, .8);
    cursor: pointer;
}

.operator {
    background-color: #FF9500;
    color: white;
}

.equal {
    background-color: #FF9500;
    color: white;
}

.operator:hover, .equal:hover {
    cursor: pointer;
    background-color: hsla(32, 95%, 52%, 0.8);
}

table {
    width: 100vw;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

tr {
    margin: 0;
}

td {
    width: 25%;
    padding: 20px;
    border: 1px solid black;
    margin: 0;
    font-size: 25px;
}
